*{
    margin: 0px;
    text-decoration: none;

}
/*all about the header*/
/*the whole nav-bar*/
.nav-wrap{
    background: #29bee45d;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logoimg{
    width: 30%;
    border-radius: 50%;
    border: white;
    float: left;
}
.nav-name-list{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    float: left;
}
.nav-name{
    list-style: none;
   /* justify-content: center;*/
    align-items: center;
    padding: 15px  40px ;
    padding-right: 60px;
    font-size: 30px;
    }
    
/*ul tag as awhole which has 4 list*/
.nav-bar-list{
display: flex;
/*justify-content: center;*/
align-items: center;
float: right;
}
/*each list item*/
.nav-item-on{
    list-style: none;
    padding: 15px  20px;
    font-size: 30px;
    color: aliceblue;
    
}
/*header css ends here*/

/*footer css here*/
.foot-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #55719b;
    padding: 40px;
}

.size-it{
    padding: 20px  80px;
}



