*{
    box-sizing: border-box;
}
body{
    margin: 0 0;
    padding: 0 ;
    background-color: #e2dddd;
    
}
/*css for header*/
header{
    position: sticky;
    top: 0px;
}
.nav-whole-wrap{
    background-color: #471313;
     padding: 5px  20px;
     position: sticky;
    top: 0;
    cursor: pointer;
}
.name-links{
    display: flex;
    padding-left: 30px;
    padding-right: 50px;
    align-items: center;
   justify-content: space-evenly;
   
    
}
.myname{
    
    color: aliceblue;
    font-size: 25px;

}
.links{
    display: flex;
    float: right;
    text-decoration: none;
    list-style: none;
}
.link-field{
    padding: 10px 30px;
    float: right;
    justify-content: right;
   
}
.link-field a{
    text-decoration: none;
    color: white;
    display: block;

}
.nav-whole-wrap li :hover {
    background-color: #afaaaa;


}
.nav-whole-wrap li a{
    padding: 15px 10px;
    
}

/*css for header ends*/
/*css for footer*/
.wholefoot{
    display: flex;
    
    padding: 10px 20px;
    justify-content:space-evenly;
    align-items: center;
    color: white;
}
.all-the-foot{
    background-color: #4d2929;
    color: white;
    padding-bottom: 20px;
}
.copywrite{
    text-align: center;
}
.second-part a{
    text-decoration: none;
    color: beige;
    padding: 10px 10px;
}
.over:hover{
    background-color: #ad9d9d;
}
/*css for footer ends here*/
.mail-phone{
    display: none;
}
.screen-sm{
    display: none;
}

.con-info{
    align-items: center;
    padding: 20px 50px;
    
}
.con-info-effect{
    font-size: 38px;
}
.text-effect{
    font-size: 28px;
}



@media(max-width:800px){
    .links{
        flex-direction: column;
        /*align-items: center;*/
        
    }
    /*.name-links{
        flex-direction: column;
    }*/
    .bio-list{
       flex-direction: column;
    }

    

}
@media(max-width:500px){
    .norm-contact {
 display: none;
}
.screen-sm{
    display: contents;
}
/*.wholefoot{
    flex-direction: column;
}*/
}
