*{
    box-sizing: border-box;
}
body{
    margin: 0 0;
    padding: 0 ;
    
}
/*css for header*/
header{
    position: sticky;
    top: 0px;
}
.nav-whole-wrap{
    background-color: #471313;
     padding: 5px  20px;
     position: sticky;
    top: 0;
    cursor: pointer;
}
.name-links{
    display: flex;
    padding-left: 30px;
    padding-right: 50px;
    align-items: center;
   justify-content: space-between;
   
    
}
.myname{
    
    color: aliceblue;
    font-size: 25px;

}
.links{
    display: flex;
    float: right;
    text-decoration: none;
    list-style: none;
}
.link-field{
    padding: 10px 30px;
    float: right;
    justify-content: right;
   
}
.link-field a{
    text-decoration: none;
    color: white;
    display: block;

}
.nav-whole-wrap li :hover {
    background-color: #afaaaa;


}
.nav-whole-wrap li a{
    padding: 15px 10px;
    
}

/*css for header ends*/
/*css for footer*/
.wholefoot{
    display: flex;
    
    padding: 10px 20px;
    justify-content:space-evenly;
    align-items: center;
    color: white;
}
.all-the-foot{
    background-color: #4d2929;
    color: white;
    padding-bottom: 20px;
}
.copywrite{
    text-align: center;
}
.second-part a{
    text-decoration: none;
    color: beige;
    padding: 10px 10px;
}
.over:hover{
    background-color: #ad9d9d;
}
/*css for footer ends here*/

/*css for section*/
/*this is section 1*/
/*.part-sec-one{
    background-color: rgb(243, 230, 214);
    margin: 0;
    padding: 20px 0;
}*/
.sec-one{
    padding: 10px 20px;
    /*display: flex;
    align-items: center;
    justify-content:center;*/

}
.intro{
    font-size: 30px;
    text-align: center;
    color: white;
    
    
}

.part-sec-one{
    background-image: url("../imgplace/hori.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center;
    /*position: relative;*/
    
    height: 600px;
    

   
}
.bio{
   padding-left: 40px;
   padding-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bio-list{
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.bio-info{
    text-align: center;
    padding-left: 20px;
    padding-right: 40px;
    
}

@media(max-width:800px){
    .links{
        flex-direction: column;
        
    }
    /*.name-links{
        flex-direction: column;
    }*/
    .bio-list{
       flex-direction: column;
    }

}

