*{
    box-sizing: border-box;
}
body{
    margin: 0 0;
    padding: 0 ;
    background-color: #f5f3f3f3;
}
/*css for header*/
header{
   /* position: sticky;*/
    top: 0px;
   /*background-image:url(../imgplace/backdrop.jpg);*/
   /* background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center;*/
    /*position: relative;*/
    height: 60%;
    background-color: #f1d9d9;
    
    
}
.nav-whole-wrap{
   /* background-color: #471313;*/
     padding: 5px  20px;
     position: sticky;
    top: 0;
    cursor: pointer;
    
}
.back-scroll{
    background: rgba(0, 0, 0, 0.3);
     background-size: cover;
     background-blend-mode: darken;
    padding: 0%;
    
}
.name-links{
    display: flex;
    padding-left: 30px;
    padding-right: 50px;
    align-items: center;
   justify-content: space-evenly;
   margin: 0%;
   
    
}
.myname{
    
    color: aliceblue;
    font-size: 25px;

}
.links{
    display: flex;
    float: right;
    text-decoration: none;
    list-style: none;
}
.link-field{
    padding: 10px 30px;
    float: right;
    justify-content: right;
   
}
.link-field a{
    text-decoration: none;
    color: white;
    display: block;

}
.nav-whole-wrap li :hover {
    background-color: #afaaaa;


}
.nav-whole-wrap li a{
    padding: 15px 10px;
    
}

/*css for header ends*/
/*css for footer*/
.wholefoot{
    display: flex;
    
    padding: 10px 20px;
    justify-content:space-evenly;
    align-items: center;
    color: white;
}
.all-the-foot{
    background-color: #4d2929;
    color: white;
    padding-bottom: 20px;
}
.copywrite{
    text-align: center;
}
.second-part a{
    text-decoration: none;
    color: beige;
    padding: 10px 10px;
}
.over:hover{
    background-color: #ad9d9d;
}
/*css for footer ends here*/




    

   

.bio{
   padding-left: 40px;
   padding-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bio-list{
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.bio-info{
    text-align:justify;
    padding-left: 80px;
    padding-right: 100px;
    font-size: 20px;   
}
.self-intro{
    font-size: 15px;
}
.bio-img{
    
    padding-left: 80px;
    border-top-right-radius:10%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10% ;
    border-bottom-right-radius: 10%;
}

.mail-phone{
    display: none;
}
.screen-sm{
    display: none;
}



@media(max-width:800px){
    .links{
        flex-direction: column;
        /*align-items: center;*/
        
    }
    /*.name-links{
        flex-direction: column;
    }*/
    .bio-list{
       flex-direction: column;
    }

    .bio-list{
        flex-direction: column;
    }

}
@media(max-width:500px){
    .norm-contact {
 display: none;
}
.screen-sm{
    display: contents;
}
.wholefoot{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}
