*{
    box-sizing: border-box;
}
body{
    margin: 0 0;
    padding: 0 ;
    
}
.nav-whole-wrap{
    background-color: #333;
     padding: 5px  20px;
}
.name-links{
    display: flex;
    padding-left: 30px;
    padding-right: 50px;
    align-items: center;
   justify-content: space-between;
   
    
}
.myname{
    
    color: aliceblue;
    font-size: 25px;

}
.links{
    display: flex;
    float: right;
    text-decoration: none;
    list-style: none;
}
.link-field{
    padding: 10px 30px;
    float: right;
    justify-content: right;
   
}
.link-field a{
    text-decoration: none;
    color: white;
    display: block;

}
.nav-whole-wrap li :hover {
    background-color: #555;


}
.nav-whole-wrap li a{
    padding: 15px 10px;
    
}
/*css for footer*/
.wholefoot{
    display: flex;
    background-color: rgb(17, 6, 117);
    padding: 10px 20px;
    justify-content:space-evenly;
    align-items: center;
    color: white;
}
.second-part a{
    text-decoration: none;
    color: beige;
}

/*css fo rfooter ends here*/